* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Noto Serif", serif;
}

.first-page {
  background-image: url(./images/New\ Project.png);
  background-position: center;
  background-size: cover;
  height: 110vh;
  position: relative;
}

nav {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.logo {
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

nav > ul > li {
  list-style: none;
}

.intro {
  width: 60%;
  margin: auto;
  border: 0.2rem solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 11%;
  border-radius: 1.2rem;
}

.intro > h1 {
  letter-spacing: 0.3rem;
  font-size: 4rem;
}

.intro > p {
  font-size: 1rem;
  word-spacing: 0.1rem;
  position: relative;
  top: -2rem;
}

.talk {
  background-color: transparent;
  color: white;
  position: relative;
  bottom: 1.5rem;
  border: 0.2rem solid white;
  height: 2.8rem;
  width: 8rem;
  border-radius: 1.2rem;
}

.skills {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 6rem;
}

.skill-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.projects {
  width: 60%;
  margin: auto;
  color: black;
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects > h1 {
  font-size: 3rem;
  font-family: "Noto Serif", serif;
}

.project {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project > img {
  background-color: springgreen;
  height: 60vh;
  width: 50%;
}

.project-info {
  background-color: rgb(20, 174, 201);
  height: 60vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.git-liveCode {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-around;
}

.about-me {
  width: 60%;
  margin: auto;
  color: black;
  margin-top: 16rem;
  background: linear-gradient(blue, purple);
  height: 68vh;
  position: relative;
  bottom: 3rem;
  color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 5rem;
}

.about-me > img {
  height: 15rem;
  width: 30%;
  border-radius: 50%;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: -5rem;
}

.my-info {
  width: 55%;
}

footer {
  margin-top: 16rem;
  background-image: url(./images/footer-bg.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer > h1 {
  font-size: 3rem;
}

.social-media {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

footer > button {
  background-color: transparent;
  color: white;
  position: relative;
  bottom: 1.5rem;
  border: 0.2rem solid white;
  height: 2.8rem;
  width: 8rem;
  border-radius: 1.2rem;
}
